*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.contanier
{
    background-color: black;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.logo
{
    width: 40px;
}
ul li
{
    display: inline-block;
}

ul li a
{
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
.content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.content .text
{
    width: 40%;
    color: white;

}
.content .text h2
{
    font-size: 40px;
    text-transform: uppercase;
}
.content .text p
{
    font-size: 18px;
    margin: 20px 0;

}
.content .text a
{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 8px 15px;
    border-radius: 20px;

}
.content .img
{
    width: 30%;

}
.content .img img
{
    width: 180px;
}
.icons
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.icons img
{
    width: 60px;
    transition: .5s;
}
.icons img:hover
{
    transform: scale(1.2);
    cursor: pointer;
}
@media(max-width:390px)
{
    .icons {
        position: absolute;
        bottom: -21px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media(max-width:375px)
{
    .icons {
        position: absolute;
        bottom: -57px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
}
@media(max-width:393px)
{
    .icons {
        position: absolute;
        bottom: -22px;
        left: 50%;
        transform: translateX(-50%);
    }
}